header {
  height: 65vh;
  width: 100%;
  color: ghostwhite;
  margin-bottom: 25px;
}

header h1 {
  font-size: 3.855rem;
}

.banner__info {
  display: inline-block;
  position: relative;
  top: 190px;
  left: 35px;
  padding: 0px 10px;
}

.banner__info span {
  max-width: 570px;
  display: block;
}

span h4 {
  margin-inline-start: 7px;
  padding: 7px 0px;
  font-size: 1.09rem;
  font-weight: 500;
}

.banner__buttons {
  display: inline-block;
  padding: 12px 5px;
}

.banner__buttons button {
  padding: 10px 39px;
  font-size: 1rem;
  font-weight: 700;
  background: rgba(51, 51, 51, 0.5);
  color: ghostwhite;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-inline-end: 15px;
  cursor: pointer;
}

.banner__buttons button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
