.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
  gap: 1rem;
  padding: 20px 22px;
}

.cards {
  height: 420px;
  width: 342px;
  padding: 18px;
  background-color: #ffffff;
}

.span-head {
  font-size: 1.3rem;
}

.logs {
  height: 420px;
  width: 364px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log {
  padding: 18px;
  background-color: #ffffff;
}

.log span {
  font-size: 1.3rem;
}

.log button {
  width: 100%;
  border-radius: 10px;
  outline: none;
  background: rgb(247, 202, 0);
  padding: 4px 0px;
  font-size: 0.95rem;
  margin: 15px 0px;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 0.5rem;
  margin-top: 15px;
  margin-bottom: 25px;
}

.single-box {
  margin-top: 15px;
  margin-bottom: 22px;
}

.single-box img {
  height: 270px;
  width: 305px;
}

.cards a {
  text-decoration: none;
}
